@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --- BRANDING --- */
    --primary-color: #84cc16 !important;
    --primary-color-text: #0f172a !important;
    --focus-ring: #84cc16 !important;

    /* --- SEMÁNTICOS --- */
    /* Success */
    --green-500: #10b981 !important;
    /* Tu success.DEFAULT */
    --green-100: #d1fae5 !important;
    /* Tu success.light */

    /* Info */
    --blue-500: #0ea5e9 !important;
    /* Tu info.DEFAULT */
    --blue-100: #e0f2fe !important;
    /* Tu info.light */

    /* Warning */
    --orange-500: #f59e0b !important;
    /* Tu warning.DEFAULT */
    --orange-100: #fef3c7 !important;
    /* Tu warning.light */

    /* Danger */
    --red-500: #ef4444 !important;
    /* Tu danger.DEFAULT */
    --red-100: #fee2e2 !important;
    /* Tu danger.light */
}

/* Ajuste para que los pasos inactivos del Stepper se vean mejor */
.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
    color: #6b7280;
    /* Gris */
    background-color: #ffffff;
    border-color: #d1d5db;
}

/* --- FIN TEMA PERSONALIZADO --- */

body {
    background-color: #f3f4f6;
}

/* Ajuste: Forzamos negrita en los botones para que se vea más industrial */
.p-button {
    font-weight: 700 !important;
}

/* Estilo para botones deshabilitados (Estándar Global) */
.p-button:disabled {
    background-color: #cbd5e1 !important;
    /* Slate-300 */
    border-color: #cbd5e1 !important;
    color: #64748b !important;
}

/* --- COMPACT CALENDAR (PrimeReact) --- */
.compact-calendar-panel {
    font-size: 0.75rem !important;
}

.compact-calendar-panel .p-datepicker-header {
    padding: 0.25rem 0.5rem !important;
}

.compact-calendar-panel table th {
    padding: 0.25rem !important;
}

.compact-calendar-panel table td {
    padding: 0.15rem !important;
}

.compact-calendar-panel table td>span {
    width: 1.75rem !important;
    height: 1.75rem !important;
}

.compact-calendar-panel .p-datepicker-calendar {
    font-size: 0.7rem !important;
}

/* Custom Input Calendar styling */
.compact-calendar-input {
    width: auto !important;
}

.compact-calendar-input .p-inputtext {
    width: 100px !important;
    padding: 0.4rem 0.5rem !important;
    border-radius: 6px !important;
    font-size: 11px !important;
    border-color: rgba(100, 116, 139, 0.2) !important;
}

/* --- ANIMACIONES PERSONALIZADAS --- */
@keyframes wiggle {

    0%,
    100% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(4deg);
    }
}

.animate-wiggle:hover {
    animation: wiggle 0.3s ease-in-out infinite;
}